{% extends "base.twig" %}

{% block script %}
<script>
  jQuery(function(){
    $('header.lead .avatar img').tilt({
      scale: 1.05,
      perspective: 500
    })

    $('section.projects .tile .tile-content').tilt({
      scale: 1.1,
      maxTilt: 10,
      glare: true,
      maxGlare: 0.25,
      perspective: 500
    })
  });
</script>
{% endblock %}

{% block content %}

<div class="container home-page">
  <header class="lead">
    <div class="avatar" >
      <img src="{{ site.avatar_url(256) }}" alt="" data-tilt />
    </div>
    <h1>{{ me.last_name }} {{ me.first_name }}</h1>
    <h2>{{ me.description }}</h2>


    <a href="https://www.linkedin.com/in/abdelghani-beldjouhri-07498542/" target="_blank" class="btn btn-primary btn-large">
      <i class="mdi mdi-linkedin-box"></i> Profile LinkedIn
    </a>

    <a href="http://bit.ly/b4n92uid-cv" target="_blank" class="btn btn-primary btn-large">
      <i class="mdi mdi-file-pdf"></i> T&eacute;l&eacute;charger mon CV en PDF
    </a>
  </header>

  <section class="projects">
    {% set projects = TimberTerm('projects') %}

    <h1>{{ projects.name }}</h1>

    <div class="row">
    {% for p in projects_list %}
      <div class="col-lg-4 col-xs-6">
        <div class="tile">
          <a class="tile-content" href="{{ p.link }}">
            {% if p.thumbnail %}
            <img class="tile-image" src="{{ p.thumbnail.src('thumbnail') }}" alt="{{ p.title }}" />
            {% else %}
            <div class="tile-no-image"></div>
            {% endif %}
            <div class="tile-caption">
              <h3>{{ p.title }}</h3>
              <p>{{ p.get_preview(8, false, null) }}</p>
            </div>
          </a>
        </div>
      </div>
    {% endfor %}
    </div>
  </section>

  <section class="skills">
    <h1>{{ skills.title }}</h1>

    {{ skills.content|raw }}
  </section>

  <section class="articles">
    {% set articles = TimberTerm('articles') %}
    <h1>{{ articles.name }}</h1>

    <div class="row">
      {% for p in articles_list %}
      <div class="col-lg-4">
        <div class="item">
          <h3 class="title"><a href="{{ p.link }}">{{ p.title }}</a></h3>
          <p class="summary">{{ p.get_preview(16, false , "Lire Plus") }}</p>
        </div><!--//item-->
      </div>
      {% endfor %}
    </div>
  </section>

</div>

{% endblock %}
