{% extends "base.twig" %}

{% block content %}
  {% include "include/mini-header.twig" %}

  <div class="container">
    <h1 class="page-title">Recherche : {{ fn('the_search_query') }}</h1>

    {% for post in posts %}
    <div class="media">
      <a class="pull-left" href="{{ post.link }}">
        <img class="media-object img-circle" src="{{ post.thumbnail.src('thumbnail')}}" width="64" alt="" />
      </a>
      <div class="media-body">
        <h4 class="media-heading"><a href="{{ post.link }}">{{ post.name }}</a></h4>
        <p>{{ post.get_preview(20, true, false) }}</p>
      </div>
    </div>
   {% endfor %}
  </div>
{% endblock %}
