{% extends "base.twig" %}

{% block script %}
<script>
	var mySwiper = new Swiper ('.swiper-container', {
    // Optional parameters
		direction: 'horizontal',
		autoHeight: true,

    // If we need pagination
    pagination: {
			el: '.swiper-pagination'
		},

		// Navigation arrows
		navigation: {
			nextEl: '.swiper-button-next',
			prevEl: '.swiper-button-prev',
		},

    // And if we need scrollbar
    scrollbar: {
			el: '.swiper-scrollbar'
		},

    effect: 'coverflow',
  })
</script>
{% endblock %}

{% block content %}
	{% include "include/mini-header.twig" %}

	<div class="content-wrapper container">
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="article-content">
				<h1 class="article-title">{{post.title}}</h1>

				{% if post|gallery|length > 0 %}
				<div class="article-media">
					<!-- Slider main container -->
					<div class="swiper-container">
					    <!-- Additional required wrapper -->
					    <div class="swiper-wrapper">
					        <!-- Slides -->
					        {% for image in post|gallery %}
					        <div class="swiper-slide">
					          <img src="{{ image[0] }}" alt="" />
					        </div>
					        {% endfor %}
					    </div>
					    <!-- If we need pagination -->
					    <div class="swiper-pagination"></div>

					    <!-- If we need navigation buttons -->
					    <div class="swiper-button-prev"></div>
					    <div class="swiper-button-next"></div>

					    <!-- If we need scrollbar -->
					    <div class="swiper-scrollbar"></div>
					</div>


				</div>
				{% endif %}

				<div class="article-body">
					{{post.content}}
				</div>
			</section>
		{% if post.comment_status != 'closed' %}
			<section class="comments">
				<div class="respond">
					<h3 class="h2">{{ __('Commentaires') }}</h3>
					{% include "include/comment-form.twig" %}
					{# {{ fn('comment_form') }} #}
				</div>
				<div class="responses">
					{% for cmt in post.get_comments() %}
						{% include "include/comment.twig" with {comment:cmt} %}
					{% endfor %}
				</div>
			</section>
		{% endif %}
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}
